---
layout: base.njk
title: Oliver Kühle
styles:
  - intro.css
---
{% from "note-row.njk" import noteRow %}
<div class="page">
  <div class="page__header">
    <div class="monogram-speech">
      <img
        src="/resources/ok-monogram.png"
        alt="OK monogram"
        class="monogram--png large"
      />
      <p class="speech">
        "Working on creating perfect things in an imperfect world,"
      </p>
    </div>
  </div>

  <article class="page__content">
    <div class="intro__lead">
      <img
        class="intro_pic"
        src="/resources/profile-picture.jpg"
        alt="Portrait of Oliver Kühle"
      />
      <div class="intro__greeting">
        <span class="line">Hey,</span>
        <span class="line">I'm <b>Oliver Kühle</b>,</span>
        <span class="line"
          >a human-centric <b>software and usability engineer</b>.</span
        >
      </div>
    </div>
    <nav class="intro__links">
      <a href="/about">About me</a>
      <a href="/now">What I'm doing now</a>
    </nav>

    <section class="section">
      <h2 class="header">Some of my work</h2>
      <ul class="rows">
        {%- for note in collections.notes %}
        {%- if note.fileSlug not in ["about", "now"] %}
        {{ noteRow(note) }}
        {%- endif %}
        {%- endfor %}
      </ul>
    </section>
  </article>
</div>
