.msr {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  font-feature-settings: "liga" 1;
  -webkit-font-feature-settings: "liga" 1;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  position: relative;
}

.open_in_new {
  font-size: 0.8em;  
  bottom: 3.5px;
}

.arrow_forward {
  font-size: 1em;
  bottom: 1px;
  margin-left: 1px;
}